@mixin change_color($color){
    border-bottom: 5px solid $color;

    &>div{
        color: $color
    }
    .container-icon {
        background-color: rgba($color, .25);
    }
}
.icon {
    font-size: 32px;
}
.job-statistic {
    border: 1px solid #dee2e6;
}
.job-pending {
    @include change_color($color: #f7941d)
}

.job-interview {
    @include change_color($color: #56ad64)
}
.job-declined {
    @include change_color($color: #c93939)
}
