<ngx-spinner
  [fullScreen]="false"
  type="ball-fussion"
  size="medium"
  bdColor="rgba(51,51,51,0.5)"
></ngx-spinner>

<div class="row mt-4">
  <div class="col-xl-4 col-md-6">
    <div class="rounded job-statistic job-pending p-4">
      <div
        class="d-flex text-warning align-items-center justify-content-between"
      >
        <h1>{{ totalStats.pending }}</h1>
        <div class="p-3 container-icon rounded">
          <i class="fas fa-spinner icon"></i>
        </div>
      </div>
      <h5 class="mt-4">Pending Applications</h5>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="rounded job-statistic job-interview p-4">
      <div class="d-flex align-items-center justify-content-between">
        <h1>{{ totalStats.interview }}</h1>
        <div class="p-3 container-icon rounded">
          <i class="fas fa-calendar-check icon"></i>
        </div>
      </div>
      <h5 class="mt-4">Interviews Scheduled</h5>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="rounded job-statistic job-declined p-4">
      <div class="d-flex align-items-center justify-content-between">
        <h1>{{ totalStats.declined }}</h1>
        <div class="p-3 container-icon rounded">
          <i class="fas fa-calendar-times icon"></i>
        </div>
      </div>
      <h5 class="mt-4">Jobs Declined</h5>
    </div>
  </div>
</div>
