.form-group{
    margin-top: 100px;
}
.single-job-items{
    padding: 36px 30px;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .company-img{
        img {
            overflow: hidden;
            float: left;
            margin-right: 32px;
            z-index: 999;
        }
    } 
    .job-tittle{
        a{
            h4{
                color: #005385;
                font-size: 24px;
                &:hover{
                    color:#005385;
                }
            }
        }
        ul {
            li {
                display: inline-block;
                margin-right: 48px;
                font-size: 15px;
                color: #808080;
                line-height: 1.8;
                
                &:last-child{
                    margin-right: 0px;
                }
                i {
                    font-size: 14px;
                    color: #bbbbbb;
                    margin-right: 10px;
                }
            }
        }
    }

    // Hover 
    &:hover{
        box-shadow: 0px 22px 57px 0px rgba(34, 41, 72, 0.05);
    }
    .job-items{
        display: flex;
        flex-wrap: wrap;
       
    }
}
.items-link{

    a{
        color:#005385;
        display: block;
        border: 1px solid #005385;
        border-radius: 30px;
        padding: 4px 33px;
        text-align: center;
        margin-bottom: 25px;
    }
    span{
        color: #454d72;
        display: block;
    }
}



