.form-group {
  margin-top: 100px;
}
.single-job-items {
  padding: 18px 10px;
  display: flex;

  .company-img {
    width: 80px;
    height: 60px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .job-tittle {
    h5 {
      &:hover {
        color: #2b98db;
        cursor: pointer;
      }
    }
  }

  .job-items {
    display: flex;
    flex-wrap: wrap;
  }
}
.items-link {
  a {
    color: #005385;
    display: block;
    border: 1px solid #005385;
    border-radius: 30px;
    padding: 4px 33px;
    text-align: center;
    margin-bottom: 25px;
  }
  span {
    color: #454d72;
    display: block;
  }
}
.close:focus-visible {
  outline: none;
}

.modal-header {
  h4 {
    color: #2b98db;
  }
}
