<div class="card pt-2">
  <div class="card-header">
    <!-- <img class="card-img-top" src="..." alt="Card image cap" /> -->
    <h4>Civil Engineer</h4>
    <h4 class="font-weight-light">Bechtelar-Bednar</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="job_location">
          <i class="fas fa-map-marker-alt"></i> Kiamba
        </div>
        <div class="job_type"><i class="fas fa-briefcase"></i> Intership</div>
      </div>
      <div class="col-6">
        <div class="created_at">
          <i class="fas fa-calendar-alt"></i> Dec 27th, 2021
        </div>
        <button class="btn btn-outline-danger">Declined</button>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
