<div class="card mt-2 shadow">
  <div class="card-header">
    <h4>{{ job.position }}</h4>
    <h5 class="font-weight-light">{{ job.company }}</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="job_location">
          <i class="fas fa-map-marker-alt fa-lg"></i>
          {{ job.jobLocation }}
        </div>
        <div class="job_type">
          <i class="fas fa-briefcase fa-lg"></i> {{ job.jobType | titlecase }}
        </div>
      </div>
      <div class="col-6">
        <div class="created_at">
          <i class="fas fa-calendar-alt fa-lg"></i>
          {{ job.createdAt | date }}
        </div>
        <ng-container *ngIf="job_status === jobStatus[2]">
          <button class="btn btn-outline-danger">
            {{ job_status | titlecase }}
          </button>
        </ng-container>
        <ng-container *ngIf="job_status === jobStatus[0]">
          <button class="btn btn-outline-warning">
            {{ job_status | titlecase }}
          </button>
        </ng-container>
        <ng-container *ngIf="job_status === jobStatus[1]">
          <button class="btn btn-outline-success">
            {{ job_status | titlecase }}
          </button>
        </ng-container>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-success">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
