<nav class="sidebar pl-0">
  <div class="main-menu">
    <ul class="sidebar-items pcoded-left-item pt-3">
      <li
        class="sidebar-item"
        routerLink="/admin/home"
        routerLinkActive="active"
      >
        <span class="pcoded-micon"
          ><i class="fas fa-chart-bar mr-2"></i> Stats</span
        >
      </li>
      <li
        class="sidebar-item"
        routerLink="/admin/jobs"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="pcoded-micon"
          ><i class="fas fa-list mr-2"></i> All Jobs</span
        >
      </li>
      <li
        class="sidebar-item"
        routerLink="/admin/jobs/new"
        routerLinkActive="active"
      >
        <span class="pcoded-micon"
          ><i class="fas fa-folder-plus mr-2"></i> Add Job</span
        >
      </li>
      <li
        class="sidebar-item"
        routerLink="/admin/profile"
        routerLinkActive="active"
      >
        <span class="pcoded-micon"
          ><i class="fas fa-user-circle mr-2"></i> Profile</span
        >
      </li>
    </ul>
  </div>
</nav>
