nav {
  line-height: 60px;
  font-size: 18px;
  position: fixed;
}

.sidebar-items {
  .sidebar-item {
    list-style-type: none;
    cursor: pointer;
    transition-timing-function: linear;
    transition: transform 0.5s;

    &:hover {
      color: #005385;
      transform: translate(15px, 0);
    }
  }

  .active {
    color: #0087d9;
    // padding-left: 15px;
  }
}
@media only screen and (max-width: 992px) {
  .navbar1{
    display: block !important;
    background: #e9e9e9;
    padding: 10px 20px 10px 0;
    margin-left: 5px;
    border: shadow 1px;
  }
}

