<app-header></app-header>
<div class="bg-primary">
  <div class="container-xl">
    <div class="row section--container">
      <div class="col-6 text-white">
        <div class="position-absolute content-left">
          <h3>Helping Your Business Move up</h3>
          <p class="text-capitalize">
            Get Your Job matched with the right candidate
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="section--img w-100">
          <img class="w-100" src="../../../assets/images/home-teamworks.svg" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center section--Distance">
  <div class="container"></div>
  <h1 class="text-dark">WHAT WE OFFER</h1>
  <p class="text-muted">
    We provide a variety of services which help employers connect with more
    talents, so they can hire faster
  </p>
</div>

<div class="section--Distance">
  <div class="container">
    <div class="row section--gap">
      <div class="col">
        <img
          src="../../../assets/images/home-offer-1.svg"
          alt=""
          class="w-100 rounded shadow-lg"
        />
      </div>
      <div class="col">
        <h2 class="font-weight-bold">
          Post Job
          <span class="bg-warning text-white px-2 rounded-sale">-10%</span>
        </h2>
        <h3 class="text-warning">1,722,150 VND</h3>
        <ul>
          <li>
            <i class="fas fa-check-square text-success"></i> 100% Satisfaction
            guaranteed
          </li>
          <li>
            <i class="fas fa-check-square text-success"></i> Post a job and
            recieve applications quickly
          </li>
          <li>
            <i class="fas fa-check-square text-success"></i> Manage your
            application online easily
          </li>
        </ul>
        <p class="text-muted">
          10% OFF until end of the month, Terms & Conditions Apply. Applies only
          to online orders and cannot be combined with other promotions
        </p>
        <button class="btn btn-outline-warning mt-3">Buy now</button>
      </div>
    </div>
  </div>
</div>

<div class="section--Distance">
  <div class="container">
    <div class="row section--gap">
      <div class="col">
        <h2 class="font-weight-bold">
          Search Resume
          <span class="bg-warning text-white px-2 rounded-sale">-10%</span>
        </h2>
        <h3 class="text-warning">3,227,400 VND</h3>
        <ul>
          <li>
            <i class="fas fa-check-square text-success"></i> 30-day unlimited
            access to professionals database
          </li>
          <li>
            <i class="fas fa-check-square text-success"></i> Get results that
            precisely match people with your jobs
          </li>
          <li>
            <i class="fas fa-check-square text-success"></i> Proactively search
            for candidates and start hiring today
          </li>
        </ul>
        <button class="btn btn-outline-warning mt-3">Buy now</button>
      </div>
      <div class="col">
        <img
          src="../../../assets/images/home-offer-2.svg"
          alt=""
          class="w-100 rounded shadow-lg"
        />
      </div>
    </div>
  </div>
</div>

<div class="section--Distance">
  <div class="container">
    <div class="row section--gap">
      <div class="col">
        <img
          src="../../../assets/images/home-offer-3.svg"
          alt=""
          class="w-100 rounded shadow-lg"
        />
      </div>
      <div class="col">
        <h2 class="font-weight-bold">
          Employer Branding
          <span class="bg-warning text-white px-2 rounded-sale">-10%</span>
        </h2>
        <h3 class="text-warning">29,025,000 VND</h3>
        <ul>
          <li>
            <i class="fas fa-check-square text-success"></i> More than 7 million
            job seekers visit VietnamWorks a month
          </li>
          <li>
            <i class="fas fa-check-square text-success"></i> Employer logos and
            banners have been optimized to attract the most qualified candidates
          </li>
        </ul>

        <button class="btn btn-outline-warning mt-3">Buy now</button>
      </div>
    </div>
  </div>
</div>

<div class="section--Distance">
  <div class="container">
    <div class="row section--gap">
      <div class="col">
        <h2 class="font-weight-bold">3E-IP Test</h2>
        <h3 class="text-warning">5,375,000 VND</h3>
        <ul>
          <li>
            <i class="fas fa-check-square text-success"></i> 3E-IP TEST is a
            comprehensive tool for employers to understand personality and
            intelligence of potential candidates and existing employees
          </li>
          <li>
            <i class="fas fa-check-square text-success"></i> The result of 3E-IP
            test is crucial to make the right hiring decision and deliver
            appropriate leadership
          </li>
        </ul>
        <button class="btn btn-outline-warning mt-3">Buy now</button>
      </div>
      <div class="col">
        <img
          src="../../../assets/images/home-offer-4.svg"
          alt=""
          class="w-100 rounded shadow-lg"
        />
      </div>
    </div>
  </div>
</div>

<div class="container section--Distance pb-5">
  <h2 class="text-dark text-center">TRUSTED BY THE BEST COMPANIES</h2>
  <div class="d-flex justify-content-between mt-5">
    <img src="../../../assets/images/1.svg" alt="" />
    <img src="../../../assets/images/2.svg" alt="" />
    <img src="../../../assets/images/3.svg" alt="" />
    <img src="../../../assets/images/4.svg" alt="" />
    <img src="../../../assets/images/5.svg" alt="" />
  </div>
  <div class="d-flex justify-content-between mt-2">
    <img src="../../../assets/images/6.svg" alt="" />
    <img src="../../../assets/images/7.svg" alt="" />
    <img src="../../../assets/images/8.svg" alt="" />
    <img src="../../../assets/images/9.svg" alt="" />
    <img src="../../../assets/images/10.svg" alt="" />
  </div>
</div>

<div class="text-dark pt-5 pb-5" style="background: #f5f5f5">
  <div class="container text-center">
    <h4>Ready to post jobs today?</h4>
    <h4>Get started within few minutes</h4>
    <button class="btn btn-warning text-white">Post a job</button>
  </div>
</div>

<app-footer></app-footer>
