.section {
  &--container {
    margin-top: 20px;
    position: relative;
    height: 60vh;

    .content-left {
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &--img {
    position: absolute;
    right: -15%;
    bottom: 0;
  }

  &--Distance {
    margin-top: 100px;
  }

  &--gap {
    gap: 90px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rounded-sale {
  border-radius: 50px;
}
