<footer class="bg-primary text-white">
  <div class="container pt-5 d-flex justify-content-between">
    <div class="d-flex justify-content-start section--gap">
      <div>
        <h5>Contact us</h5>
        <ul class="mt-3">
          <li>
            <i class="fas fa-phone-alt"></i> Ho Chi Minh City: (84 28) 3925 8456
          </li>
          <li><i class="fas fa-phone-alt"></i> Hanoi: (84 24) 3944 0568</li>
          <li><i class="fas fa-envelope"></i> Jobsupport@vietnamworks.com</li>
        </ul>
      </div>
      <div>
        <h5>Company</h5>
        <ul class="mt-3">
          <li>About us</li>
          <li>Privacy Statement</li>
          <li>Terms of Use</li>
          <li>HR Insider</li>
          <li>FAQ</li>
        </ul>
      </div>
      <div>
        <h5>Mobile Apps</h5>
        <img
          src="../../../../assets/images/app-store-badge-vi.png"
          alt=""
          class="d-block w-50 mt-3"
        />
        <img
          src="../../../../assets/images/google-play-badge-vi.png"
          alt=""
          class="mt-2 w-50"
        />
      </div>
    </div>
    <div>
      <h5>Subscribe</h5>
      <img
        src="../../../../assets/images/icon_footer_linkedin.svg"
        alt=""
        class="w-25 mt-3"
      />
      <img
        src="../../../../assets/images/icon_footer_facebook.svg"
        alt=""
        class="w-25 ml-2 mt-3"
      />
      <h5 class="mt-3">Verified by</h5>
      <img
        src="../../../../assets/images/dadangky.jpgx"
        alt=""
        class="w-75 mt-3"
      />
    </div>
  </div>
  <div class="text-center pb-1 text-light container section--break mt-5 p-2">
    <p class="my-0">Copyright © Navigos Group Vietnam Joint Stock Company</p>
    <p>
      Floor 20, E.Town Central, 11 Doan Van Bo Street, Ward 13 District 4, Ho
      Chi Minh City, Vietnam
    </p>
  </div>
</footer>
