<div class="card m-3 shadow">
  <div class="card-header" (click)="openDetail(content)">
    <div class="d-flex">
      <div class="flex-grow-1">
        <h4>{{ job.position }}</h4>
        <h6 class="font-weight-light">{{ job.company }}</h6>
      </div>
      <div><i class="fas fa-info-circle"></i></div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="job_location">
          <i class="fas fa-map-marker-alt fa-lg"></i>
          {{ job.jobLocation }}
        </div>
        <div class="job_type">
          <i class="fas fa-briefcase fa-lg"></i> {{ job.jobType | titlecase }}
        </div>
      </div>
      <div class="col-6">
        <div class="created_at">
          <i class="fas fa-calendar-alt fa-lg"></i>
          {{ job.createdAt | date }}
        </div>
        <ng-container *ngIf="job_status === jobStatus[2]">
          <span class="text-danger">
            {{ job_status | titlecase }}
          </span>
        </ng-container>
        <ng-container *ngIf="job_status === jobStatus[0]">
          <span class="text-warning">
            {{ job_status | titlecase }}
          </span>
        </ng-container>
        <ng-container *ngIf="job_status === jobStatus[1]">
          <span class="text-success">
            {{ job_status | titlecase }}
          </span>
        </ng-container>
      </div>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-success"
        [routerLink]="['/admin/jobs/edit', job._id]"
      >
        Edit
      </button>
      <button type="button" class="btn btn-danger" (click)="onDelete(job._id)">
        Delete
      </button>
    </div>
  </div>
</div>

<!-- Job Detail pop up -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="text-center flex-grow-1">
      {{ job.position }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Company</h5>
    <p class="ml-5 mt-2"><i class="fas fa-building"></i> {{ job.company }}</p>
    <h5>Job Features:</h5>
    <div class="row ml-5 mt-2">
      <div class="col-4 p-0">
        <div class="d-flex">
          <div><i class="fas fa-file p-0"></i></div>
          <div class="ml-3">
            <p class="font-weight-bold mb-0">Status</p>
            <p>{{ job.status | titlecase }}</p>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="d-flex">
          <div><i class="fas fa-map-marker-alt p-0"></i></div>
          <div class="ml-3">
            <p class="font-weight-bold mb-0">Location</p>
            <p>{{ job.jobLocation | titlecase }}</p>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="d-flex">
          <div><i class="fas fa-calendar-alt p-0"></i></div>
          <div class="ml-3">
            <p class="font-weight-bold mb-0">Created at</p>
            <p>{{ job.createdAt | date }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row ml-5">
      <div class="col-4 p-0">
        <div class="d-flex">
          <div><i class="fas fa-calendar-check p-0"></i></div>
          <div class="ml-3">
            <p class="font-weight-bold mb-0">Job Type</p>
            <p>{{ jobDetail.type | titlecase }}</p>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="d-flex">
          <div><i class="fas fa-dollar-sign p-0"></i></div>
          <div class="ml-3">
            <p class="font-weight-bold mb-0">Salary</p>
            <p>Up to ${{ jobDetail.salary }}</p>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="d-flex">
          <div><i class="fas fa-briefcase p-0"></i></div>
          <div class="ml-3">
            <p class="font-weight-bold mb-0">Experience required</p>
            <p>{{ jobDetail.experience }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
