.card{
    line-height: 2.5rem;
    font-size: 18px;
}
.fas{
    color: #005385;
    padding-right: 10px;
}
.fa-map-marker-alt{
    padding-left: 4px;
}
.btn{
    border: none;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 10px;
}
.btn-success{
    color: #0f5132;
    background: #d1e7dd;
}
.btn-danger{
    color: #842029;
    background: #f8d7da;
}