@mixin setColor($bgColor, $color: white) {
  color: $color;
  background-color: $bgColor;
}

.card {
  line-height: 2.5rem;
  font-size: 18px;
  transition-timing-function: linear;
  transition: transform 0.5s;
  &:hover {
    transform: translateY(-10px);

    .btn-success {
      @include setColor(#6fe091, #0f5132);
    }
    .btn-danger {
      @include setColor(#ff6b6b, #842029);
    }
  }
}
.fas {
  color: #005385;
  padding-right: 10px;
}
.fa-map-marker-alt {
  padding-left: 4px;
}
.btn {
  border: none;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 10px;
}
.btn-success {
  @include setColor(#d1e7dd, #0f5132);
}
.btn-danger {
  @include setColor(#f8d7da, #842029);
}
