<ngx-spinner
  [fullScreen]="true"
  type="ball-spin-clockwise"
  size="medium"
  bdColor="rgba(51,51,51,0.5)"
></ngx-spinner>
<div class="row m-0">
  <div class="col-md-4 bg-primary vh-100"></div>

  <div class="col-md-8 p-0 position-relative">
    <div class="position-absolute w-75 px-5 container-form border shadow-lg">
      <h2 class="my-4 text-center">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group mb-0">
          <label class="font-weight-bold"
            >Email address<span class="text__err">&nbsp;*</span></label
          >
          <input
            type="email"
            class="form-control"
            formControlName="email"
            [class.border-danger]="email.touched && email.errors"
          />
        </div>
        <div class="text__err" *ngIf="email.touched && email.errors">
          Please enter your email
        </div>
        <div class="form-group mb-0 mt-4">
          <label class="font-weight-bold"
            >Password<span class="text__err">&nbsp;*</span></label
          >
          <input
            type="password"
            class="form-control"
            formControlName="password"
            [class.border-danger]="password.touched && password.errors"
          />
        </div>
        <div class="text__err" *ngIf="password.touched && password.errors">
          Please enter your password
        </div>
        <div class="d-flex">
          <button
            type="button"
            class="btn btn-info text-white d-block ml-auto mt-3"
            (click)="demoAccount()"
          >
            Demo
          </button>
          <button
            type="submit"
            class="btn btn-warning text-white d-block ml-3 mt-3"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>

        <p class="container m-0 py-4">
          Not a member?
          <a class="text-warning" routerLink="/signup">Sign Up</a>
        </p>
      </form>
    </div>
  </div>
</div>
