<div class="row m-0">
  <div class="col-md-4 bg-primary"></div>

  <div class="col-md-8">
    <div class="container w-75 container-form">
      <h2>Login</h2>
      <form>
        <div class="form-group">
          <label class="font-weight-bold"
            >Email address<span class="text__err">&nbsp;*</span></label
          >
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label class="font-weight-bold"
            >Password<span class="text__err">&nbsp;*</span></label
          >
          <input type="password" class="form-control" />
        </div>

        <button
          type="submit"
          class="btn btn-warning text-white d-block ml-auto"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
