// nav{
//   position: fixed;
// }
.nav-left {
  text-align: center;
}
.user-dropdown{
  cursor: pointer;
}
.dropdown-menu{
  left: auto;
  right: 0;
  min-width: 100%;
}
.dropdown-toggle::after{
  margin-left: 10px;
}