<nav
  class="navbar w-100 navbar-expand-lg navbar-dark bg-primary text-white p-0"
>
  <div class="col-2">
    <div class="bg-primary nav-left py-3 d-flex justify-content-center">
      <div class="navbar-brand bg-primary" routerLink="/admin">
        <img
          src="../../../../assets/images/logo-vnw-white.svg"
          class="d-inline-block w-100"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="collapse navbar-collapse">
      <ul
        class="align-items-center flex-row justify-content-center navbar-nav w-100"
      >
        <li class="flex-grow-1 nav-item text-center">
          <h4>Admin Dashboard</h4>
        </li>
        <li class="mr-xl-5 mr-sm-3">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary text-white"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              <i class="fas fa-user-circle fa-lg mr-1"></i>
              {{ authService.user.name }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="onLogout()">
                <i class="fas fa-sign-out-alt mr-2"></i>Logout
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
