<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white p-0">
  <div class="w-100 d-flex">
    <div class="bg-primary nav-left py-2">
      <a class="navbar-brand bg-primary" routerLink="/">
        <img
          src="../../../../assets/images/logo-vnw-white.svg"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
      </a>
    </div>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="w-75 d-flex align-items-center justify-content-center">
      <h4>Dashboard</h4>
    </div>

    <div
      class="collapse navbar-collapse flex-grow-1"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav align-items-center w-100">
        <li class="mr-5">
          <div class="dropdown user-dropdown">
            <span class="dropdown-toggle" (click)="onToggle()"
              ><i class="fas fa-user-circle fa-lg"></i
            ></span>
            <div class="dropdown-menu" [class.show]="show">
              <a class="dropdown-item" (click)="onLogout()">
                <i class="fas fa-sign-out-alt"></i> Logout</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
