.container {
  line-height: 2rem;
}
.our-office {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  width: 32%;

  padding-bottom: 20px;
  overflow: hidden;
  img {
    min-height: 200px;
    width: 100%;
  }
}
.our-benefits{
  p{
    font-size: 15px;
  }
}
.fas{
  font-size: 40px;
  background-color: #005385;
  padding: 10px;
  color: white;
  border-radius: 50%;
  margin-bottom: 10px;
}
