<app-header></app-header>
<div class="container-fluid m-0 p-0">
  <div class="img-banner">
    <img
      src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc1/en/1._Cover_photo.jpg"
      width="100%"
      height="100%"
    />
  </div>
  <div class="container">
    <section
      class="cp_basic_info p-3"
      style="border-bottom-color: #002e5e; border-top: 1px solid #002e5e"
    >
      <div class="row d-flex justify-content-center w-100">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 cp_logo mobile-hide">
          <div>
            <img
              src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc/en/Navigos_Group_logo_01.png"
              alt=""
              width="100%"
              height="100%"
            />
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 cp_basic_info_details">
          <h5 id="cp_company_name">NAVIGOS GROUP VIETNAM JSC</h5>
          <ul>
            <li>
              <span class="li-items-limit" title="Hà Nội, Hồ Chí Minh"
                >Hà Nội, Hồ Chí Minh
              </span>
              <span class="line">| </span>
              <a
                class="website-company"
                href="https://www.navigosgroup.com"
                target="_blank"
                style="color: #002e5e"
                >https://www.navigosgroup.com</a
              >
            </li>
            <li>
              <span class="li-items-limit" title="Human Resources"
                >Human Resources</span
              >
              <span class="line"> | </span>
              <span class="find-us mobile-hide">
                <span class="find-us-title">Find us on</span>
                <a
                  href="https://www.facebook.com/NavigosGroup"
                  class="ic-social ic-social-facebook"
                  target="_blank"
                  ><span><i class="fab fa-facebook-square fa-lg mx-3"></i></span
                ></a>
                <a
                  href="https://www.linkedin.com/company/navigos-group"
                  class="ic-social ic-social-linkedin"
                  target="_blank"
                  ><span><i class="fab fa-linkedin fa-lg"></i></span
                ></a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <hr />

  <h1 class="text-center my-4">Our office</h1>
  <section class="our-office container">
    <div class="item">
      <img
        class="rounded"
        src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc1/en/3_-_Our_Office_1.png"
      />
    </div>
    <div class="item">
      <img
        class="rounded"
        src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc1/en/3_-_Our_Office_2.png"
      />
    </div>
    <div class="item">
      <img
        class="rounded"
        src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc1/en/3_-_Our_Office_3.png"
      />
    </div>
    <div class="item">
      <img
        class="rounded"
        src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc1/en/3_-_Our_Office_7_1_.png"
      />
    </div>
    <div class="item">
      <div
        class="text-white p-2"
        style="background-color: #002e5e; font-size: 15px; height: 200px"
      >
        <h5>ADDRESS</h5>
        <p></p>
        <p>
          - Floor 20, e.town Central Building, 11 Doan Van Bo, Ward 13, District
          4, HCMC
        </p>
        <p>
          - Floor 7, V-Building, 125 – 127 Ba Trieu, Nguyen Du Ward, Hai Ba
          Trung, Hanoi
        </p>
        <p></p>
      </div>
    </div>
    <div class="item">
      <img
        class="rounded"
        src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc1/en/3_-_Our_Office_5.png"
      />
    </div>
    <div class="item">
      <img
        class="rounded"
        src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc1/en/3_-_Our_Office_6.png"
      />
    </div>
    <div class="item">
      <img
        class="rounded"
        src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc1/en/3_-_Our_Office_4.jpg"
      />
    </div>
    <div class="item">
      <img
        class="rounded"
        src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc1/en/3_-_Our_Office_8.png"
      />
    </div>
  </section>
  <hr />
  <div class="site-section">
    <div class="container">
      <h1 class="text-center my-4">Our people</h1>

      <div class="row">
        <div class="col-12" data-aos="fade">
          <div class="row p-2">
            <div class="col-7">
              <img
                src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc1/en/6_-_Gaku_Echizenya.jpg"
                style="width: 100%"
              />
            </div>
            <div class="col-5">
              <h5>Gaku Echizenya</h5>
              <h4>CHAIRMAN & CEO</h4>
              <p>
                "If you believe that helping people makes your life more
                meaningful, you will want to become a Dream Maker at Navigos
                Group."
              </p>
            </div>
          </div>
          <div class="row mt-5 p-2">
            <div class="col-5">
              <h5>Nguyen Thi Van Anh</h5>
              <h4>REGIONAL SALES DIRECTOR</h4>
              <p>
                "At Navigos Group, we - Dream Makers - are working as unyielding
                combatants, capable of creating wonderful career dreams for
                people and companies. Millions career dreams have been made, and
                we are opening our door waiting for your joining..."
              </p>
            </div>
            <div class="col-7">
              <img
                src="https://images02.vietnamworks.com//companyprofile/navigos-group-vietnam-jsc1/en/7_-_Ms_Van_Anh.jpg"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="site-section border-top">
    <div class="container our-benefits">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-6">
          <h1 class="text-center my-4">Our benefits</h1>
        </div>
      </div>
      <div class="row hosting">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-4">
          <div class="unit-3 h-100 bg-white text-center">
            <div class="text-center mb-3 unit-3-heading">
              <i class="fas fa-user-md px-3"></i>
              <h5>HEALTHCARE</h5>
            </div>
            <div class="unit-3-body">
              <p>
                Dream Makers will receive a premium healthcare assurance which
                is valued as 40 million VND and are offered free health check-up
                and treatments at leading clinics and hospitals. At Navigos
                Group, we always appreciate spirit of work-life balance through
                attractive policies including sponsored clubs such as badminton,
                volleyball,…; salary pay in advance when necessary…
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-4">
          <div class="unit-3 h-100 bg-white text-center">
            <div class="text-center mb-3 unit-3-heading">
              <i class="fas fa-file-invoice-dollar px-3"></i>
              <h5>PAID LEAVE</h5>
            </div>
            <div class="unit-3-body">
              <p>
                Besides national holidays and Tet holiday, Dream Makers have 15
                annual paid leaves, 06 sick-leaves (without doctor’s certifying
                paper) and 05 paid leaves for emergency cases.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-4">
          <div class="unit-3 h-100 bg-white text-center">
            <div class="text-center mb-3 unit-3-heading">
              <i class="fas fa-graduation-cap"></i>
              <h5>TRAINING</h5>
            </div>
            <div class="unit-3-body">
              <p>
                At Navigos Group, we offer our Dream Makers with various
                training programs and mentorship programs based on their desired
                career plan at "Naviworks University".
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5 mb-lg-4">
          <div class="unit-3 h-100 bg-white text-center">
            <div class="text-center mb-3 unit-3-heading">
              <i class="fas fa-trophy"></i>
              <h5>AWARDS</h5>
            </div>
            <div class="unit-3-body">
              <p>
                We always appreciate the dedication from Dream Makers by
                valuable recognition and rewarding programs such as Spirit
                Award, Service Hero, Service Award… Varying from different job
                positions, some awards like Best Performance, Best Sales are
                also handed Dream Makers in order to encourage their ‘Improve
                it!’ and ‘Own it!’ spirit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="500">
          <div class="unit-3 h-100 bg-white text-center">
            <div class="text-center mb-3 unit-3-heading">
              <i class="fas fa-users"></i>
              <h5>TEAM ACTIVITIES</h5>
            </div>
            <div class="unit-3-body">
              <p>
                Many teambuilding activities are organized every month which
                give Dream Makers chances to have fun, to relax and connect with
                colleagues: Snack Time, Women's Day, Christmas, Company Trip,
                Company Birthday, Japanese culture exchange, Olympic, Year End
                Party,...
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="600">
          <div class="unit-3 h-100 bg-white text-center">
            <div class="text-center mb-3 unit-3-heading">
              <i class="fas fa-utensils px-3"></i>
              <h5>PANTRY</h5>
            </div>
            <div class="unit-3-body">
              <p>
                Spacious and gorgeous pantry is equipped with fridges,
                microwaves, coffee machine, vending machine,… Dream Makers also
                can enjoy free tea and coffee at the pantry in their working
                hours to relax.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
