<div
  class="search-form form-group border rounded shadow p-5 mb-0 mt-5 mx-auto w-50"
>
  <h4>Profile</h4>
  <form [formGroup]="profileForm">
    <div class="form-group mb-0 mt-2">
      <label>Name<span class="text__err">&nbsp;*</span></label>
      <input type="text" class="form-control" formControlName="name" />
    </div>

    <div class="form-group mb-0 mt-2">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        [readonly]="true"
      />
    </div>
    <div class="form-group mb-0 mt-2">
      <label>Location<span class="text__err">&nbsp;*</span></label>
      <input type="text" class="form-control" formControlName="location" />
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-danger mr-3" (click)="onCancel()">
        Cancel
      </button>
      <button type="submit" class="btn btn-success" (click)="onSave()">
        Save
      </button>
    </div>
  </form>
</div>
